header{
    padding: .8em 0;
    background-color: var(--surface-color);
    box-shadow: var(--shadow);
    .nav{
        justify-content: space-between;
        
        a{
            cursor: pointer;

            span{
                margin-left: .6em;
            }
        }
    }
}